.todo-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  color: var(--color-text);
  --ion-item-background: var(--bg) !important;


  .text-input {
    background: none;
    border: none;
    outline: none;
    width: 30rem;

    font-size: 1rem;

    &:focus {
      text-decoration: underline;
    }
  }
}


.todo-item.checked {
  .text-input {
    color: var(--color-text);
    text-decoration: line-through;
  }
}

.checked-box {
  margin-right: 20px;
}

.delete-icon {
  font-size: 1.6rem;
  color: var(--color-text);

  &:hover {
    cursor: pointer;
  }
}