.todo-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #fff;
  
  .text-input {
    background: none;
    border: none;
    outline: none;
    
    font-size: 1rem;
  }
}


.todo-item.checked {
  .text-input {
    color: rgba(58, 58, 58, 0.672);
    text-decoration: line-through;
  }
}

.checked-box {
  margin-right: 20px;
}

.delete-icon {
  font-size: 1.6rem;
  &:hover{
    cursor: pointer;
  }
}