html {
  --bg: #FCFCFC;
  --color-text: #333;
}

.add-item {
  font-size: 1.2rem;
  margin: 1rem 0 1.5rem 1.5rem;
  background: var(--bg);
  color: var(--color-text);
  --ion-item-background: var(--bg) !important;

  &:hover {
    cursor: pointer;
  }
}

.add-icon {
  background: var(--bg);
  color: var(--color-text);
  margin-right: 10px;
  font-weight: 500;
}


.item .item-content {
  background: var(--bg) !important;
  color: var(--color-text) !important;
}