html {
  --bg: #FCFCFC;
  --color-text: #333;
}

h1 {
  font-size: 10rem;
}

.container {
  width: 500px;
  height: 500px;
}

.todo-list {
  position: relative;
  padding-top: 2.5rem;
  background: var(--bg);
  height: auto;
  max-height: 90vh;
  max-width: 95vw;
  overflow-y: auto;
}